<!DOCTYPE html>
<!--

  {{ title }}
  {{ description }}

  Ashen Gunaratne
  mail@ashenm.ml

-->
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Ashen M. Gunaratne is a computer science undergraduate student in the School of Engineering and Applied Sciences of Harvard University" />
  <meta name="keywords" content="ashen, gunaratne, homepage, bio, curriculum vitae, cv, resume" />
  <meta name="author" content="Ashen Gunaratne" />

  <meta name="apple-mobile-web-app-title" content="Homepage of Ashen M. Gunaratne" />
  <meta name="application-name" content="Homepage of Ashen M. Gunaratne" />

  <title>{{ title }}</title>

  {% block metadata %}{% endblock %}

  {% block scripts %}{% endblock %}

</head>
<body>
  <header>
    {% block header %}{% endblock %}
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    {% block footer %}{% endblock %}
  </footer>
</body>
</html>