{% extends "base.njk" %}
{% set title = 'Ashen Gunaratne' %}
{% set description = "Homepage of Ashen Gunaratne" %}

{% block metadata %}

  <meta content="autoRotate:disabled" http-equiv="ScreenOrientation" />

  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />

  <link rel="alternate" type="text/html" href="https://codepen.io/ashenm/full/rrNJAB" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css" integrity="sha256-27KRQA6ck6EiKWEkCpHR2NcEeAYnqz8Q5a83PYHh1z0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha256-3iu9jgsy9TpTwXKb7bNQzqWekRX7pPK+2OLj3R922fo=" crossorigin="anonymous" />

  <style type="text/css">

    body {
      color: #fff;
      text-align: center;
      background-color: #333;
      text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    }

    a,
    a:focus,
    a:hover {
      color: #fff;
    }

    #nav-main .nav-link {
      font-weight: bold;
      color: rgba(255,255,255,.5);
      background-color: transparent;
      border-bottom: .16rem solid transparent;
    }

    #nav-main .nav-link:hover {
      border-bottom-color: rgba(255,255,255,.25);
    }

    #nav-main .nav-link {
      margin-left: 1rem;
    }

    #nav-main .active {
      color: #fff;
      border-bottom-color: #fff;
    }

    .btn-compact {
      padding: .25rem .5625rem;
    }

    .contact {
      font-size: 5rem;
      font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    }

    .no-decoration,
    .no-decoration:hover {
      text-decoration: none;
    }

    /**
     * hide navbar branding and center 
     * bottom nav elements on mobile
     */
    @media (max-width: 512px) {
      #nav-main {
        bottom: 0;
        top: unset;
        padding: 0px;
        justify-content: center;
      }
      #nav-main .navbar-brand {
        display: none;
      }
      #nav-main .active,
      #nav-main .nav-link {
        border-bottom: unset;
      }
    }

    /**
     * lessen margins on mobile landscape
     */
    @media (max-width: 800px) and (orientation: landscape) {
      #nav-main .nav-link {
        padding: .125rem .25rem!important;
      }
      .shrink-on-landscape {
        margin-bottom: .25rem!important;
      }
    }

  </style>

{% endblock %}

{% block scripts %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js" integrity="sha256-SNaaqfQPa0XlEqQDrsurQ+Qq5XnhNrwHQXnZpdXlCEI=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(function() {
      $('#fullpage').fullpage({
        menu: '#nav-main',
        anchors: ['main', 'about', 'portfolio', 'contact']
      });
    });
  </script>

{% endblock %}
  
{% block header %}
  <nav id="nav-main" class="pt-0 pb-0 navbar fixed-top navbar-dark">
    <a class="navbar-brand" href="#main">Ashen Gunaratne</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a data-menuanchor="about" class="nav-link" href="#about">about</a>
      </li>
      <li class="nav nav-pills">
        <a data-menuanchor="portfolio" class="nav-link" href="#portfolio">portfolio</a>
      </li>
      <li class="nav nav-pills">
        <a data-menuanchor="contact" class="nav-link" href="#contact">contact</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block main %}
  <div class="container">
    <div id="fullpage" >

      <div class="section active">
        <h1>Ashen Gunaratne</h1>
        <p class="lead">Ashen Gunaratne is an undergraduate student in the <a href="https://www.seas.harvard.edu" target="_blank">School of Engineering and Applied Sciences of Harvard University</a></p>
      </div>

      <div class="section">
        <h2 class="sr-only">about</h2>
        <img alt="photo" width="200" height="200" class="m-3 img-fluid rounded-circle shrink-on-landscape" src="https://avatars2.githubusercontent.com/u/16164426?v=4" />
        <p class="shrink-on-landscape">Ashen Gunaratne is is a computer science undergraduate student in the <a href="https://www.seas.harvard.edu" target="_blank">School of Engineering and Applied Sciences of Harvard University</a>. He completed his primary education at <a href="https://www.sebsmoratuwa.lk">St. Sebastian's College</a> and secondary education at <a href="https://www.lakeland.edu.lk">Lakeland Inter-American School</a>.</p>
        <a href="/resume" hreflang="en" target="_blank" class="btn btn-secondary btn-compact rounded m-2">Résumé</a>
      </div>

      <div class="section">
        <h2 class="sr-only">portfolio</h2>
        <div class="row">
          <div class="col-6 col-sm">
            <a class="no-decoration" href="https://codepen.io/ashenm" target="_blank" rel="author">
              <i class="ion-social-codepen-outline contact"></i>
              <h4>Codepen</h4>
            </a>
          </div>
          <div class="col-6 col-sm">
            <a class="no-decoration" href="https://github.com/ashenm" target="_blank" rel="author">
              <i class="ion-social-github-outline contact"></i>
              <h4>GitHub</h4>
            </a>
          </div>
          <div class="col-6 col-sm">
            <a class="no-decoration" href="https://glitch.com/@ashenm" target="_blank" rel="author">
              <i class="ion-social-nodejs contact"></i>
              <h4>Glitch</h4>
            </a>
          </div>
          <div class="col-6 col-sm">
            <a class="no-decoration" href="https://repl.it/@ashenm" target="_blank" rel="author">
              <i class="ion-code-working contact"></i>
              <h4>repl.it</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="section">
        <h2 class="sr-only">contact</h2>
        <div class="row">
          <div class="col-6 col-md-3 col-lg">
            <a href="mailto:mail@ashenm.ml" rel="author"><i class="ion-ios-email-outline contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://www.ashenm.ml" target="_blank" rel="author"><i class="ion-earth contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://www.facebook.com/ashenmgunaratne" target="_blank" rel="author"><i class="ion-social-facebook-outline contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://plus.google.com/u/0/102805278145349967250" target="_blank" rel="author"><i class="ion-social-googleplus-outline contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://www.instagram.com/_ashenm" target="_blank" rel="author"><i class="ion-social-instagram-outline contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://www.linkedin.com/in/ashenm" target="_blank" rel="author"><i class="ion-social-linkedin-outline contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://www.reddit.com/user/_ashenm" target="_blank" rel="author"><i class="ion-social-reddit-outline contact"></i></a>
          </div>
          <div class="col-6 col-md-3 col-lg">
            <a href="https://www.twitter.com/_ashenm" target="_blank" rel="author"><i class="ion-social-twitter-outline contact"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
