{% extends "base.njk" %}
{% set title = "Résumé" %}
{% set description = "Curriculum Vitae of Ashen Gunaratne" %}

{% block metadata %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha256-3iu9jgsy9TpTwXKb7bNQzqWekRX7pPK+2OLj3R922fo=" crossorigin="anonymous" />

  <style type="text/css">

    body {
      background-color: #333;
    }

    main {
      padding: 25px 9px;
    }

    #resume {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
      font-family: Garamond;
      background-color: #fff;
    }

    #metadata {
      margin-bottom: 60px;
    }

    #btn-download {
      right: 0;
      bottom: 0;
      z-index: 1030;
      position: fixed;
    }

    .line-slim {
      line-height: 1;
    }

    .location {
      margin: 0px;
    }

    /**
     * Concise on mobile display
     */
    @media only screen and (max-width: 575px) {

      /* hide supplementary information */
      address, .location, .summary {
        display: none;
      }

      /* shrink margin to vertical space */
      #metadata {
        margin-bottom: 46px;
      }

      /* add whitespace to separate sections */
      .row {
        margin-bottom: 16px;
      }

      /* remove column gutters */
      .col, [class*="col-"] {
        padding: 0px;
      }

      /* underline section headers */
      .legend {
        border-bottom: 1px solid #aaa;
      }

      /* add whitespace to separate records */
      .record {
        margin-bottom: 9px;
      }

    }

    /**
     * Minimise whitespace usage
     * and outline graphics on print
     */
    @media print {

      /* remove background graphics */
      body {
        background-color: initial;
      }

      /* shrink padding to maximise space usage */
      main {
        padding: 0px;
      }

      /* hide download button */
      #btn-download {
        display: none;
      }

    }

    /**
     * Default printing properties
     */
    @page {
      size: A4 portrait;
      margin: 0px;
    }

  </style>

{% endblock %}

{% block scripts %}

  <script type="text/javascript">

    // ISO Country Codes
    const map = {
      LK: 'Sri Lanka'
    };

    // on DOM ready
    document.onreadystatechange = function() {
      if (document.readyState === 'interactive') {

        // localise dates
        document.querySelectorAll('.date').forEach((date, index, dates) => {
          date.innerText = date.innerText
            ? new Date(date.innerText).toLocaleDateString('en-US', window.innerWidth < 575 ? {year: 'numeric', month: 'short'} : {year: 'numeric', month: 'long'}) : 'Present';
        });

        // replace country codes with corresponding names
        document.querySelectorAll('.country').forEach((code, index, codes) => {
          code.innerText = map[code.innerText];
        });

        // download event handler
        document.getElementById('btn-download').addEventListener('click', function(e) {
          window.open('?dl=true', '_self');
        });

      }
    };

  </script>

{% endblock %}

{% block header %}{% endblock %}

{% block main %}
  <div id="resume" class="pt-5 p-4">
    <div id="metadata" class="text-center">
      <h3>{{ resume.metadata.name }}</h3>
      <address class="m-0">
        <h6 class="m-0">{{ resume.metadata.location.address }}, {{ resume.metadata.location.city }}, {{ resume.metadata.location.postalCode }}, <span class="country">{{ resume.metadata.location.countryCode }}</span></h6>
      </address>
      <h6 class="m-0">{{ resume.metadata.phone }}</h6>
      <h6 class="m-0"><a href="mailto:mail@ashenm.ml">{{ resume.metadata.email }}</a></h6>
    </div>
    <div class="row">
      <div class="col-sm-2 line-slim">
        <p class="font-italic legend">education</p>
      </div>
      <div class="col-sm-10 pl-0">
        {% for record in resume.education %}
          <div class="record">
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-weight-bold">{{ record.institution }}</h6>
              <h6 class="location">{{ record.location }}</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-italic">{{ record.studyType }}</h6>
              <h6 class="m-0 font-italic"><span class="date">{{ record.startDate }}</span> - <span class="date">{{ record.endDate }}</span></h6>
            </div>
            <p class="summary">{{ record.summary }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 line-slim">
        <p class="font-italic legend">experience</p>
      </div>
      <div class="col-sm-10 pl-0">
        {% for record in resume.experience %}
          <div class="record">
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-weight-bold">{{ record.organization }}</h6>
              <h6 class="location">{{ record.location }}</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-italic">{{ record.position }}</h6>
              <h6 class="m-0 font-italic"><span class="date">{{ record.startDate }}</span> - <span class="date">{{ record.endDate }}</span></h6>
            </div>
            <p class="summary">{{ record.summary }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 line-slim">
        <p class="font-italic legend">academic service</p>
      </div>
      <div class="col-sm-10 pl-0">
        {% for record in resume.academics %}
          <div class="record">
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-weight-bold">{{ record.institution }}</h6>
              <h6 class="location">{{ record.location }}</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-italic">{{ record.position }}</h6>
              <h6 class="m-0 font-italic"><span class="date">{{ record.startDate }}</span> - <span class="date">{{ record.endDate }}</span></h6>
            </div>
            <p class="summary">{{ record.summary }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 line-slim">
        <p class="font-italic legend">community service</p>
      </div>
      <div class="col-sm-10 pl-0">
        {% for record in resume.volunteer %}
          <div class="record">
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-weight-bold">{{ record.organization }}</h6>
              <h6 class="m-0 font-italic"><span class="date">{{ record.startDate }}</span> - <span class="date">{{ record.endDate }}</span></h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="m-0 font-italic">{{ record.position }}</h6>
            </div>
            <p class="summary">{{ record.summary }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button id="btn-download" type="button" class="btn btn-secondary rounded-circle m-2"><i class="ion-arrow-down-a"></i><span class="sr-only">download</span></button>
{% endblock %}
