<!DOCTYPE html>
<!-- 
  {{ page.title | default: site.title }}
  {{ page.desc | default: site.desc }}
  {{ page.url | absolute_url }}

  {{ page.author.last_name | default: site.author.first_name }} {{ page.author.last_name | default: site.author.last_name }}
  {{ page.email | default: site.email }}

 -->
<html lang="{{ page.lang | default: site.lang }}">
<head>

  <meta charset="{{ page.encoding | default: site.encoding }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ page.desc | default: site.desc }}" />
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />
  <meta name="author" content="{{ page.author.first_name | default: site.author.first_name }} {{ page.author.last_name | default: site.author.last_name }}" />

  <meta property="og:type" content="profile" />
  <meta property="og:image" content="https://avatars1.githubusercontent.com/u/16164426?s=400&amp;v=4" />
  <meta property="og:profile:first_name" content="{{ page.author.first_name | default: site.author.first_name }}" />
  <meta property="og:profile:last_name" content="{{ page.author.last_name | default: site.author.last_name }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta property="og:description" content="{{ page.desc | default: site.desc }}" />
  <meta property="og:locale" content="{{ page.lang | default: site.lang }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />

  <meta name="twitter:image:src" content="https://avatars1.githubusercontent.com/u/16164426?s=400&amp;v=4" />
  <meta name="twitter:title" content="{{ page.title | default: site.title }}" />
  <meta name="twitter:description" content="{{ page.desc | default: site.desc }}" />
  <meta name="twitter:site" content="@_ashenm" />
  <meta name="twitter:card" content="summary" />

  <meta name="google-site-verification" content="RWbNTIPAsnOLAUh_0wsSusWFpyEgz2XEAO9D81bMOiE" />

  <title>{{ page.title | default: site.title }}</title>

  <link href="{{ site.url }}{{ page.url }}" rel="canonical" />
  <link href="https://awsmedia.s3.amazonaws.com/favicon.ico" type="image/ico" rel="icon" />

  {{ metadata }}

  <script type="application/ld+json">
    {
      "name": "{{ page.title | default: site.title }}",
      "author": {
        "@type": "Person",
        "name": "{{ page.author.first_name | default: site.author.first_name }} {{ page.author.last_name | default: site.author.last_name }}"
      },
      "@type": "WebSite",
      "url": "{{ site.url }}{{ page.url }}",
      "headline":"{{ site.title }}",
      "sameAs": [
        "https://github.com/ashenm",
        "https://linkedin.com/in/ashenm/",
        "https://www.instagram.com/ashenmg/",
        "https://www.twitter.com/_ashenm"
      ],
      "@context":"http://schema.org"
    }
  </script>

  {{ scripts }}

</head>
<body>

  {{ body }}

  {%- if jekyll.environment == 'production' -%}
    <!-- Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-84329766-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-84329766-1');
    </script>
    <!-- END Google Analytics -->
  {%- endif -%}

</body>
</html>
